html, body {
  height: 100%;
  width: 100%;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-weight: 300;
  margin: 0;
}

p {
  margin: 0;
}

hr {
  width: 50%;
  border: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.4);
}

.accent {
  color: #343434;
}

.accent-link:link {
  color: #144bab;
  text-decoration: none;
  -o-transition: 0.1s;
  -ms-transition: 0.1s;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.accent-link:hover {
  color: #343434;
  text-decoration: none;
}

.accent-link:active {
  color: white;
  text-decoration: none;
}

.accent-link:focus {
  color: #144bab;
}

#header-section {
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  position: relative;
}

@media only screen and (max-width: 600px) {
  #header-section {
    background-image: url("../images/cover-half.jpg");
  }
}
#header-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

#title-subtext {
  color: white;
  font-size: 25px;
  font-style: italic;
  margin: 10px;
}

#title-text {
  font-size: 50px;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-weight: 700;
}

.nav {
  width: 100%;
  font-size: 30px;
  height: 60px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: relative;
  margin-bottom: -60px;
  z-index: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.nav-link:link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #144bab;
}

.nav-link:active {
  color: #343434;
}

.nav-sticky {
  position: fixed;
  top: 0;
}

@media only screen and (max-width: 600px) {
  .nav {
    display: none;
  }
}
.section-header {
  text-align: center;
  font-weight: 400;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

#about-section {
  margin-top: 100px;
}

@media only screen and (max-width: 600px) {
  #about-section {
    border-top: 5px double #646464;
    margin-top: 0px;
  }
}
#about-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-img {
  height: 250px;
  width: auto;
  border-radius: 10px;
}

#about-info {
  font-size: 22px;
  margin: 20px;
}

@media only screen and (min-width: 500px) {
  #about-info {
    width: 500px;
  }
}
#schools-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.school-column {
  text-align: center;
  font-size: 30px;
  margin: 25px;
}

.school-img {
  width: 55vw;
  height: auto;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 10px;
}

@media only screen and (min-width: 600px) {
  .school-img {
    height: 270px;
    width: auto;
  }
}
.school-img:hover {
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#projects-grid-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-link {
  width: 80vw;
  height: 60vw;
  border: 1px solid #f0f0f0;
  position: relative;
  margin: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 600px) {
  .project-link {
    width: 500px;
    height: 300px;
  }
}
#project-link-1 {
  background-image: url("../images/projects/corbii.jpg");
}

#project-link-2 {
  background-image: url("../images/projects/isitorange.png");
}

#project-link-3 {
  background-image: url("../images/projects/cosai.jpg");
}

#project-link-4 {
  background-image: url("../images/projects/electric-field-sim.png");
}

#project-link-5 {
  background-image: url("../images/projects/leash.png");
}

.overlay {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.overlay:hover {
  opacity: 1;
}

.project-text-wrapper {
  width: 90%;
}

.project-title {
  font-size: 35px;
}

.project-role {
  font-size: 16px;
}

.project-description {
  margin-top: 10px;
  font-size: 24px;
}

#resume-frame-wrapper {
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

#resume-alt {
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
}

#links-wrapper {
  display: flex;
  justify-content: center;
}

#links-container {
  margin: auto;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

.link-container {
  position: relative;
  text-align: center;
}

.link-container:hover > .link-icon {
  opacity: 0;
}

.link-container:hover > .link-text {
  opacity: 100;
}

.link-icon {
  height: 120px;
  margin: 10px;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.link-text {
  position: absolute;
  font-size: 30px;
  top: 60px;
  width: 100%;
  left: 0;
  opacity: 0;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#footer {
  font-size: 18px;
  color: white;
  background-color: #343434;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer > div {
  margin-left: 20px;
  margin-right: 20px;
}

#footer a {
  font-size: 26px;
  margin-left: 5px;
}

#footer a:hover {
  cursor: pointer;
  -o-transition: 0.1s;
  -ms-transition: 0.1s;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: #272727;
}

/*# sourceMappingURL=index.scss.map */

/*# sourceMappingURL=css/index.css.map */
