html, body {
  font-family: 'Titillium Web', sans-serif;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
}
ol {
  margin: 0;
}

.link-override:link {
  color: white;
  text-decoration: none;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}
.link-override:visited {
  color: white;
  text-decoration: none;
}
.link-override:hover {
  color: purple;
  text-decoration: none;
}
.link-override:active {
  color: white;
  text-decoration: none;
}

#navbar {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index:1;
  padding: 10px 0px;
}
.nav-title-link:link {
  font-size: 40px;
  color: white;
  text-decoration: none;
  padding-left: 40px;
}
.nav-title-link:visited {
  color: white;
  text-decoration: none;
}
.nav-title-link:hover {
  text-decoration: none;
}
#nav-link-container {
  float: right;
  margin-top: 10px;
  margin-right: 30px;
}
.nav-link:link {
  margin-right: 20px;
  font-size: 30px;
  color: white;
  text-decoration: none;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}
.nav-link:visited {
  color: white;
  text-decoration: none;
}
.nav-link:hover {
  color: purple;
  text-decoration: none;
}
.nav-link:active {
  color: white;
  text-decoration: none;
}

.hidden {
  display: none;
}
#header-section {
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
}
#links-container {
  margin: auto;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

ul {
  list-style-type: none;
}

/*.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 60px solid purple;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
    position: absolute;
    top: -60px;
}

.hex {
    width: 208px;
    height: 120px;
    background-color: purple;
    position: relative;
    margin: 65px 5px 65px 5px;

    display: flex;
    justify-content: center;
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -60px;
    border-top: 60px solid purple;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
}*/

.link-container {
  position: relative;
  text-align: center;
}
.link-container:hover > .link-icon {
  opacity: 0;
}
.link-container:hover > .link-text {
  opacity: 100;
}
.link-icon {
  height: 150px;
  width: auto;
  margin: 10px;

  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}
.link-text {
  position: absolute;
  font-size: 30px;
  color: purple;
  top: 60px;
  width: 100%;
  left: 0;

  opacity: 0;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}
